.about {
	height: 790px;
	overflow: hidden;
	border-bottom: 1px solid #eeeeee;
	&__inner {
		display: flex;
		position: relative;
		justify-content: space-between;
	}
	&__info {
		padding-top: 120px;
		width: 575px;
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 92px;
			background-color: #64ccf3;
			position: absolute;
			bottom: -135px;
			left: -1200px;
		}
		
		&__bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 30px;
			.sign {
				background-image: url(../img/sign.png);
				width: 147px;
				height: 103px;
			}
			.socials {
				.fab {
					width: 53px;
					height: 53px;
					border-radius: 50%;
					background: rgb(155, 145, 145);
					padding: 18px 0 0 20px;
					color: #fff;
				}
				.fa-facebook-f {
					background-color: #475993;
				}
				.fa-twitter {
					background-color: #76a9ea;
				}
				.fa-instagram {
					background-color: #d77e2d;
				}
			}
		}
	}
	&__title {
		@include section-title;
	}
	&__subtitle {
		font-family: "Roboto Slab";
		font-size: 28px;
		font-weight: 300;
		margin-top: 10px;
	}
	&__descr {
		color: #515254;
		font-family: "Roboto Slab";
		font-size: 22px;
		font-weight: 300;
		margin-top: 60px;
	}
	&__video {
		width: 589px;
		height: 672px;
		background-color: #e5e5e5;
		position: absolute;
		left: 720px;
		// z-index: 1;
		// overflow: hidden;
		&:before {
			content: '';
			display: block;
			width: 1000px;
			height: 672px;
			background-color: #64ccf3;
			position: absolute;
			bottom: -135px;
			right: -800px;
			overflow: hidden;
			z-index: -1;
		}
	}
}