.blogs {
	padding: 120px 0;
	overflow: hidden;
	position: relative;
	&__title {
		@include section-title;
		text-align: center;
	}
	&__carousel {
		margin-top: 40px;
		display: flex;
		&::before {
			content: '';
			
			display: block;
			background-color: $main-color;
			width: 100px;
			height: 100px;
			border-radius: 100%;
			position: absolute;
			right: -50px;
			top: 50%;
			cursor: pointer;
			text-align: center;
		}
		&::after {
			content: '\f054';
			font-family: FontAwesome;
			position: absolute;
			right: 15px;
			bottom: 290px;
			color: #fff;
			cursor: pointer;
		}
	}
	&__item {
		box-shadow: 0 8px 8px rgba(0, 0, 0, 0.04);
		border-radius: 3px;
		width: 465px;
		margin-right: 20px;
		cursor: pointer;
		padding-bottom: 30px;
		&:hover {
			box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.3);
		}
		&-date {
			color: $main-color;
			font-size: 15px;
			font-weight: 500;
			margin-top: 25px;
			padding-left: 30px;
		}
		&-title {
			font-size: 22px;
			font-weight: 400;   
			padding-left: 30px;
			margin-top: 15px;
		}
		&-descr {
			color: #5d5d5d;
			font-family: "Roboto Slab";
			font-size: 20px;
			font-weight: 300;
			padding-left: 30px;
			margin-top: 15px;
		}
	}

}