.classes {
	position: relative;
	border-bottom: 1px solid #eee;
	height: 540px;

	&__inner {
		display: flex;
		// align-items: center;
		position: absolute;
		top: 125px;
		// left: 50%;
	}

	.yellow-bg {
		position: absolute;
		left: -870px;
		width: 100%;
		height: 540px;
		z-index: -10;
	}

	&__title {
		@include section-title;
		line-height: 33.28px;
		width: 162px;
	}

	&__descr {
		width: 216px;
		height: 88px;
		color: #332d22;
		font-family: "Roboto Slab", sans-serif;
		font-size: 22px;
		font-weight: 300;
		margin-top: 30px;    
	}

	&__slide {
		display: flex;
		margin-left: 80px;

		.slide__item {
			background-image: url(../img/slide-item.png);
			width: 270px;
			height: 300px;
			margin-right: 30px;
			display: flex;
			align-items: center;
			position: relative;

			.item__price {
				width: 64px;
				height: 58px;
				box-shadow: 0 28px 35px rgba(0, 0, 0, 0.48);
				border-radius: 4px;
				background-color: #ffffff;
				padding: 15px 0 0 15px;
				color: #010101;
				font-size: 18px;
				font-weight: 600;
				position: absolute;
				left: -20px;
				bottom: 20px;
				line-height: 15px;
			}
			
			.item__title {
				margin-left: 64px;
				position: absolute;
				bottom: 23px;
				color: #fff;
				font-size: 18px;
				font-weight: 600;
				width: 150px;
			}
		}
	}
}