.company-info {
	height: 192px;
	padding-top: 60px;
	.company__inner {
		display: flex;
		.info-box {
			margin-right: 140px;
			display: flex;
		}
		.hours-icon{
			width: 58px;
			height: 58px;
		}
		.phone-icon{
			background-image: url(../img/phone_icon.png);
			width: 60px;
			height: 64px;
		}
		.address-icon{
			background-image: url(../img/address_icon.png);
			width: 64px;
			height: 62px;
		}
		.info {
			padding-left: 40px;
			&__title {
				width: 182px;
				color: #828282;
				font-size: 16px;
				font-weight: 600;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			&__descr {
				max-width: 176px;
				font-size: 16px;
				font-weight: 600;
			}
		}
	}    
}