.events {
	height: 540px;
	background-color: #64ccf3;
	padding: 120px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__info	{
		width: 220px;
	}
	&__title {
		color: #ffffff;
		font-size: 38px;
		font-weight: 600;
	}
	&__descr {
		color: #e8f9ff;
		font-family: "Roboto Slab";
		font-size: 20px;
		font-weight: 300;
		line-height: 33.28px;
		height: 100px;
		overflow: hidden;
	}
}