.header  {
	height: 80px;
	display: flex;
	align-items: center;

	&__menu {
		list-style: none;
		margin-left: 80px;
		display: flex;
		justify-content: space-between;
		width: 585px;

		&__item {
			font-size: 19px;
			font-weight: 500;
			&:hover {
				.header__submenu {
					display: block;
				}
			}
			a {
				color: #424345;

				&:hover {
					color: $main-color;
				}
			}
		}
	}

	&__submenu {
		display: none;
		position: absolute;
		list-style-type: none;
		background: #fff;
		width: 200px;
		padding: 30px 30px;
		border-radius: 10px;

		&:hover {
				display: block;
		}

		&-list {
			font-size: 16px;
		}
	}

	&__button {
		border: 2px solid #000;
		width: 115px;
		height: 44px;
		border-radius: 22px;
		background-color: #fff;
		font-size: 19px;
		font-weight: 500;
	}

	.cart {
		margin-left: 45px;
		border-color: $main-color;
		cursor: pointer;

		&:hover {
			border: 4px solid $main-color;
		}
	}

	.login {
		margin-left: 10px;
		background-color: #000;
		color: #fff;
		cursor: pointer;
		
		&:hover {
			border: 4px solid $main-color;
		}
	}

	&__burger {
		margin-left: 10px;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		background-color: $main-color;
		padding-top: 17px;
		cursor: pointer;

		&:hover {
			transform: scale(1.1);
		}

		span {
			display: block;
			width: 14px;
			height: 2px;
			background-color: #000000;
			margin: 0 auto;
			margin-bottom: 2px;
			border-radius: 50px;

			&:hover {
				transform: scale(1.3);
			}
		}
	}
}