.promo {
	padding-left: 50px;
	background-image: url(../img/main-bg.jpg);
	height: 803px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding-top: 125px;
	&__img {
		background-image: url(../img/3-layers-top.png);
		background-repeat: no-repeat;
		width: 688px;
		height: 548px;
	}
	&__content {
		margin-top: 40px;
		width: 550px;
	   &__title {
			width: 555px;
			height: 112px;
			font-size: 75px;
			font-weight: 600;
			letter-spacing: -1.88px;
			line-height: 50px;
			text-transform: uppercase;
			span {
				font-size: 57px;
				letter-spacing: -1.43px;
				line-height: 58px;
			}
	   }
	   &__descr {
			width: 480px;
			height: 61px;
			color: #515254;
			font-family: "Roboto Slab";
			font-size: 28px;
			font-weight: 300;
			margin-top: 40px;
	   }
	   &__items {
		   display: flex;
		   justify-content: space-between;
		   width: 410px;
		   .content__item {
				width: 180px;
				height: 192px;
				border-radius: 4px;
				background-color: #000000;
				margin-top: 60px;
				color: #fff;
				padding-left: 20px;
				padding-top: 120px;
				font-size: 19px;
				font-weight: 400;
		   }
	   }
	}
	&__img {
		width: 690px;
	}
}