* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
	opacity: 0;
}

@import '_variables';
@import '_header';
@import '_promo';
@import '_classes';
@import '_company-info';
@import '_about';
@import '_trial';
@import '_events';
@import '_reviews';
@import '_blogs';
@import '_footer';
@import '_slick';
@import '_popup';











